.header-block {
    text-align: center;


    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height:  calc(57 / 40 * 100%);
        letter-spacing: 0.2px;
    
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    
        @include _480{
            font-size: 32px;
        }
    }

    &__subtitle {
        color: $second-color;
        line-height:  calc(20 / 14 * 100%);  
        letter-spacing: 0.2px; 
    }
}


