.menu {
    &__list {
        display: flex;
        align-items: center;
        column-gap: 21px;
        flex-wrap: wrap;
        padding: 5px 0;

        @include _768 {
           flex-direction: column;
           align-items: flex-end;
           padding: 25px 20px;
           row-gap: 20px;
        }
    }

    &__link {
        font-weight: 600;
        color: $second-color;
        line-height:  calc(24 / 14 * 100%);

        &:hover{
            color: $main-color;
        }

        @include _768 {
           font-size: 24px;
           color: $main-color;
        }

        @include _480 {
            font-size: 24px;
        }
    }

}