body{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    color: #252B42;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}


._container {
    max-width: 1076px;
    margin: 0 auto;
    padding: 0px 15px;
}

.none {
    display: none;
}